.container-form {
  width: 40%;
  margin: 0 auto;
  background: white;
  padding: 3%;
}
.form-user {
  background-color: #0b8190;
  padding: 2%;
}
.btn-login {
  background-color: #07374a;
  color: white;
  padding: 1% 2.5%;
  border: none;
  border-radius: 4px;
}

@media (max-width: 900px) {
  .container-form {
    width: 80%;
  }
}
